
@{
    ViewData["Title"] = "SignOut";
}

<h2>You have been redirected here. Your session might been expired or you don't have any permission to access the application.</h2>

<a href="">Click here to retry.</a>