
@{
    ViewData["Title"] = "SignIn";
}

<h2>Sign In</h2>
<h3>Redirecting...</h3>
<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:52292/';
    }, 2000);

</script>